/* *{
    margin: 0;
    padding: 0;
} */
.form{
    background-color: antiquewhite;
    
}

 body {
    margin: 0;
    background: linear-gradient(to left, #F3E4C9 75%, #8B5E3C 50%);
    text-decoration: none; 
    color: #34271b;
 }  


.campo{
    text-align: center;
    padding: 0.2em;
}

#titulo{
    text-align: center;
    /* margin-left: 120px; */
}

#subtitulo{
    text-align: center;
}
.nome{
    margin-left: 550px;
}
.idade{
    margin-left: 550px;
}
.telefone{
    margin-left: 550px;
}
.raca{
    margin-left:550px ;
}

.campos{
margin-left: 550px;
}

.precaucao{
    margin-left: 550px;
}
.foto{
    
    transform: rotate(-10deg);
    margin-top: -100px;
    margin-left: -50px;
    display: block;
    width: 200px; 
    height: 100px; 
}


.foto2{
    margin-top: -300px;
    margin-left: 100px;
    animation: ease-in 1s  2ms left ;
    opacity: 1;
    display: block;
    width: 200px; 
    height: 100px;
}

/* @keyframes{

transform: rotate(20%);

{
    transform:rotate(25%)
}
{
    transform:rotate(50%)
} */